.project-section {
  display: flex;
  height: auto;
  min-height: 100vh;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.project-data {
  background-color: var(--panel-bg);
  backdrop-filter: blur(4px);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: 20px 20px 0 0;
  flex: 45%;
}

.project-data:nth-child(3),
.project-data:nth-child(6) {
  flex: 100%;
}

@media (max-width: 760px) {
  .project-section {
    flex-direction: column;
  }

  .project-data {
    margin: 20px 0px 0 0;
    width: 100%;
  }
}

.project-screenshot {
  /* transform: rotateZ(-5deg); */
  height: auto;
  background-color: transparent;
}

.project-screenshot > img {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0;
}

.project-details {
  padding: 15px;
  box-sizing: content-box;
  color: var(--content-color-main);
}

.project-title {
  font-size: var(--content-heading-size);
  color: inherit;
}

.project-description {
  font-size: var(--para-font);
  margin: 15px 0;
  color: inherit;
}

.technologies {
  display: flex;
  flex-flow: row wrap;
  gap: 4px;
}

.technologies-used {
  background: rgba(96, 165, 250, 0.1);
  color: var(--primary-text);
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  font-size: 0.875rem;
}

.project-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
  font-size: var(--small-para-font);
  text-decoration: none;
  color: var(--content-color-main);
}

.project-link svg {
  margin-left: 10px;
  width: 15px;
  height: 15px;
  fill: var(--content-color-main);
}

